<header>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="#">Rezeptbuch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Einkaufsliste</a>
        </li>
        <li class="nav-item">
          <div class="dropdown" appDropdown>
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" aria-expanded="false">
              Dropdown button
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Speichern</a></li>
              <li><a class="dropdown-item" href="#">Laden</a></li>
            </ul>
          </div>
        </li>
      </ul>
</header>
